.separator{
    position: relative;
    overflow: hidden;
}

.separator::before{
    content: "";
    height: 1px;
    width: 46%;
    position: absolute;
    top: 14px;
    left: 0;
    background-color: #d2d2d2e8;
}

.separator::after{
    content: "";
    height: 1px;
    width: 46%;
    position: absolute;
    top: 14px;
    right: 0;
    background-color: #d2d2d2e8;
}